@import 'variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

* {
    box-sizing: border-box;
}

body {
    background-color: $background;
}

.content {
    margin: 20px;
}
p {
    margin-left:5px;
}

.footer {
    background-color: $background-darker;
}

.font-sm {
    font-size: small;
}
.silent {
    font-weight: 200;
    color: $grey;
}

.icon {
    color:$primary;
    margin:2px;
    cursor:pointer;
}
.icon.small {
    font-size: 100%;
}
.icon.medium {
    font-size: 150%;
}
.icon.large {
    font-size: 200% !important;
}
.pointer{
    cursor:pointer;
}
.modal-backdrop {
    opacity: 0.5;
}
.bottom-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.box-shadow {
    box-shadow: 0 0.25rem 0.25rem $box-shade, inset 0 -1px 5px $box-shade;
}
.no-list-style {
    list-style: none;
    padding-inline-start:0;
}
.card-title{
    font-size:18px;
    font-weight: 600;
    border: 1px solid $primary;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: block;
    padding:5px;
    margin-bottom:0;
}
.card-content{
    padding: 5px;
    p{
        margin-bottom:1px;
    }
}

.side-border {
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
}
.bottom-border {
    border-bottom: 1px solid $primary;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.border{
    border: 1px solid $primary;
    border-radius: 6px;
}

.w-40{
    width:40%;
}
.w-60{
    width:60%;
}
.w-65 {
    width:65%;
}
.w-80{
    width:80%;
}

.h-65 {
    height: 65%;
}


.break-word {
    overflow-wrap: break-word;
}

.scroll-y {
    overflow-y: scroll;
}

.center{
    margin: auto auto;
}

.task, .task-last{
    margin:0;
    padding:0.4rem;
}
.task {
    border-bottom: 1px solid $background-darker;
}
.sub-task{
    margin:-6px;
    padding:0.4rem;
    .task-description{
        margin-left:1.5rem;
    }
}
.task-description{
    font-size:12px;
    color:$grey;
    margin: 0 0.5rem;
}
.task-title{
    font-weight:600;
    margin-bottom:0;
}

.green{
    color: $green;
}
.red{
    color: $red;
}
.white {
    color: white;
}

.task-lists{
    flex:74%;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.task-list{
    flex: 49%;
    height: fit-content;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.overview{
    div{
        margin-bottom: 0.8rem;
    }
}

.clickable { 
    cursor: pointer;
}

.block {
    width:100%;
    display:block;
}

button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15 ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    color: $primary-text;
    background-color: $primary;
    border-color: $primary;

}
button.primary {
    color: $primary-text;
    background-color: $primary;
    border-color: $primary;
}

input.w-3 {
    width: 3rem;;
}

@media (max-width:991px){
    .task-list{
        flex: 100%;
    }
}

@media (max-width:767px){
    .w-40, .w-60{
        width:80%;
    }
    .task-lists{
        flex:64%;
    }
    .right-align{
        flex: 34%;
    }
    .b-icon{
        width: 1.4rem;
        height: 1.4rem;
    }
}

@media (max-width: 425px){
    .task-description{
        font-size: 0.8rem;
    }
    .task-title{
        font-size: 1rem;
    }
    .task-lists{
        flex:100%;
    }
}