
@font-face {
    font-family: "Nunito";
    src: url('/fonts/Nunito-Regular.ttf');
}
@font-face {
    font-family: "Nunito-Bold";
    src: url('/fonts/Nunito-Bold.ttf');
}
@font-face {
    font-family: "Nunito-Light";
    src: url('/fonts/Nunito-Light.ttf');
}

@font-face {
    font-family: "NunitoSans";
    src: url('/fonts/NunitoSans-Regular.ttf');
}
@font-face {
    font-family: "NunitoSans-Bold";
    src: url('/fonts/NunitoSans-Bold.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('/fonts/Raleway-Regular.ttf');
}
@font-face {
    font-family: "Raleway-Bold";
    src: url('/fonts/Raleway-Bold.ttf');
}