// https://www.sessions.edu/color-calculator/

//NOTE changing anything here requires changing of the corresponding array in 
// resources/js/services/themeService.ts > lightStyles

:root {
    --primary: #1D3354; //Prussian Blue
    --primary-as-text: #1D3354;
    --primary-text: white;
    --secondary: #15253d;
    --body-text: rgb(29, 29, 29);
    --action-button: #1D3354;
    --action-button-hover: #15253d;
    --button: #1D3354;
    --button-hover: #15253d;
    --cancel-button: #888;
    --cancel-button-hover: #666;

    --grey: grey;
    --light-green: #2d8562;
    --green: #1d543e;
    --dark-green: #123325;

    --background: #f6f8fa;
    --background-darker: #dee2e6;
    --background-2: white;
    --background-2-text: black;
    --input-background: white;
    --input-active: white;

    --border-color: #dee2e6;
    --link-text: #1D3354;

    --nth-of-type: rgba(0, 0, 0, .04);
    --hover: rgba(0, 0, 0, .1);

}