// https://www.sessions.edu/color-calculator/

//NOTE changing anything here requires changing of the corresponding array in 
// resources/js/services/themeService.ts > darkStyles

:root {
    --primary: #252525; //Prussian Blue
    --primary-as-text: #cecece;
    --primary-text: #e4e4e4;
    --secondary: #3b3b3b;
    --body-text: #e4e4e4;
    --body-text-grey: #9e9e9e;
    --action-button: #2d8562;
    --action-button-hover: #22644a;
    --button: #252525;
    --button-hover: #353535;
    --cancel-button: #323232;
    --cancel-button-hover: #252525;

    --grey: grey;
    --light-green: #2d8562;
    --green: #2d815f;
    --dark-green: #123325;

    --background: #121212;
    --background-darker: #252525;
    --background-2: #3b3b3b;
    --background-2-text: #e9e9e9;
    --input-background: #494949;
    --input-active: #858585;

    --border-color: #494949;
    --link-text: #cecece;
    //TODO Change the primary-as-text or link colour

    --nth-of-type: #3b3b3bb4;
    --hover: #3b3b3b81;
}