.dp__menu, .dp__theme_dark, .dp__theme_light {
    --dp-background-color: var(--input-background) !important;
    --dp-text-color: var(--primary-text) !important;
    --dp-hover-color: var(--input-active) !important;
    --dp-hover-text-color: var(--primary-text) !important;
    --dp-hover-icon-color: var(--primary) !important;
    --dp-primary-color: var(--primary) !important;
    --dp-primary-disabled-color: var(--primary) !important;
    --dp-primary-text-color: var(--primary-text) !important;
    --dp-secondary-color: var(--input-active) !important;
    --dp-border-color: var(--border-color) !important;
    --dp-menu-border-color: var(--border-color) !important;
    --dp-border-color-hover: var(--border-color) !important;
    --dp-disabled-color: var(--input-background) !important;
    --dp-success-color: var(--green) !important;
    --dp-success-color-disabled: var(--green) !important;
    --dp-icon-color: var(--primary) !important;
    --dp-danger-color: var(--red) !important;
    --dp-marker-color: var(--red) !important;
}