.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    gap: 0.5rem;
}

.flex-grow-1 {
    flex: 1 0 fit-content;
}

.flex {
    display: flex;
}

.flex-row {
    display:flex;
    flex-direction: row;
}
.flex-col {
    display: flex;
    flex-direction: column;
}