
/*
 * Tabs
 */
 .tabs {
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    padding-right: 0;
    margin-top:0;
    .tab-item {
        min-width:95%;
        max-width:95%;
        color: var(--primary-as-text);
        border: 1px solid transparent;
        background-color: transparent;
        margin-right:-1px;
        display: flex;
        justify-content: flex-end;
        transition: border 0.25s ease-in-out, border-radius 0.5s ease-in-out;
    }
    .tab-item.active-tab {
        background-color: transparent;
        font-family: var(--bold-font);
        border-radius: 0.5rem 0 0 0.5rem;
        border-color: var(--border-color) var(--background) var(--border-color) var(--border-color);
    }
    .tab-item:hover {
        border-color:var(--border-color) var(--background) var(--border-color) var(--border-color);
        border-radius: 0.5rem 0 0 0.5rem;
    }
}
.tabs-horizontal {
    border-right: none;
    border-bottom: 1px solid var(--border-color);
    flex-direction: row;
    .tab-item{
        margin-right: inherit;
        justify-content: flex-start;
        min-width: max-content;
        margin-bottom: -1px !important;
    }
    .tab-item.active-tab {
        border-color: var(--border-color) var(--border-color) var(--background);
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .tab-item:hover {
        border-color:var(--border-color) var(--border-color) var(--background);
        border-radius: 0.5rem 0.5rem 0 0;
    }
}

@media (max-width:600px) {
    .w-80 {
        width: 100% !important;
    }
    .active-tab.tab-item, .tab.tab-item, .tabs .tab-item {
        font-size: small !important;
        max-width: 200% !important;
        width: 100%;
        padding-right: 5px;
        
    }
    .tabs.col-2 {
        max-width: 20%;
    }
    .tab-content.col-10 {
        max-width: 80%;
    }
}
@media (max-width: 450px) {
    .tab-content.col-10 {
        max-width: 100%;
        flex: 0 0 99%;
        padding: 0;
    }
}